.header {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #6B6B68;
}

.tripLeft {
    display: flex;
    flex-direction: column;
    text-align: center;
}

* {
    background: #212126;
    color: #E7E3D8;
    padding: 0px;
    margin: 0px;
}

.likes {
    display: flex;
    justify-content: center;
    border-top: solid 2px #6B6B68;
}

.favColor {
    color: teal;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px #6B6B68;
}

.hidden {
    display: none;
}

button {
    width: 100%;
    height: 100%;
}